---
subtitle: Rusty-Systems
title: Rusty-Systems
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }}</title>

    {% if project.environment == "production" %}
        <base href="{{ project.base }}/">
    {% endif %}



    <link rel="stylesheet" href="{{ project.css }}">
</head>
<body class="subpage">

<header>
    <h1>{{ title }}</h1>
    <div role="doc-subtitle">{{ subtitle }}</div>
</header>

<main>
    <section>
        {{ content }}
    </section>
</main>

{%  include "partials/footer.liquid" %}

</body>
</html>